<!DOCTYPE html>
<html lang="en">
{% load static  %}
{% load crispy_forms_tags%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>applicant</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h2>WELCOME TO APPLICANT REGISTRATION PAGE</h2>
        <a href ="{% url 'index_page'%}"> <h3>Home page</h3></a>
            <div class='container'>
                <h2> APPLICATION REGISTRATION</h2>
                <form method="POST">
                {% csrf_token %}
                {{ form | crisp }}  
                <input type='submit'> 
                </form>
            </div>    
</body>
</html>