<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addapplicant</title>
</head>
<body>
    <WELLCOME TO APPLICANT REGISTRATION PAGE<h1>
        <a href ="{% url 'index_page'%}"> <h3>Home page</h3></a>

        <h1>REGISTER APPLICANT<h1>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type='submit'>

            </form>
</body>
</html>