<!DOCTYPE html>
<html lang="en">
    {% load static  %}
    {% load crispy_forms_tags%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application</title>
</head>
<body>
    WELLCOME TO APPLICATION STATUS PAGE
        <a href ="{% url 'index_page'%}"> <h3>Home page</h3></a>

            APPLICATION STATUS
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}} <!-- {{form|crispy}} -->
                <input type='submit'>

            </form>
</body>
</html>