<!DOCTYPE html>
<html lang="en">

{%load '%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>applicant</title>
</head>
<body>
    WELLCOME TO APPLICANT REGISTRATION PAGE
        <a href ="{% url 'index_page'%}"> <h3>Home page</h3></a>

            APPLICATION REGISTRATION
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type='submit'>

            </form>
</body>
</html>