<!DOCTYPE html>
<html lang="en">
    {%load static%}
    {%load crispy_forms_tags%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobrequirements</title>

    <link rel='stylesheet' href = "{%static 'css/bootstrap.min.css'%}" >
</head>
<body>
    <h2>WELLCOME TO JOB REQUIREMENTS PAGE</h2>
        <a href ="{% url 'index_page'%}"> <h3>Home page</h3></a>
        <div class='container'>
            <h2> UPLOAD JOB REQUIREMENTS</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit'>

            </form>
            {% if message %}
            {{ message }}
            {{% endif %}}
        </div>    
</body>
</html>