<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home/index</title>
</head>
<body>
    <h1>HELLO THIS IS THE INDEX PAGE<h1>
        <h2> wellcome to prospects recruitment</h2>
        <a href ="{% url 'applicant_page' %}">Applicant Registration</a> 
        <a href ="{% url 'jobposting_page'%}">Job Postings</a>
        <a href ="{% url 'employer_page'%}">Employer Registration</a>
        <a href ="{% url 'jobrequirements_page'%}">Job Requirements</a>  
        <a href ="{% url 'application_page'%}">Applications</a>
        <a href ="{% url 'qualification_page'%}">Qualification</a>
        <a href ="{% url 'addapplicant_page'%}">Addapplicant</a> 
        <a href ="{% url 'addemployer_page'%}"> AddEmployer</a>  
        <a href =>        
</body>
</html> 