<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home/index</title>
</head>
<body>
    <h1>HELLO THIS IS THE INDEX PAGE<h1>
        <h2> wellcome to prospects recruitment</h2>
        <a href ="{% url 'applicant_page' %}"><h2>Applicant Registration</h2></a> 
        <a href ="{% url 'jobposting_page'%}"><h2>Job Postings</h2></a>
        <a href ="{% url 'employer_page'%}"><h2>Employer Registration</h2>
        <a href ="{%url 'jobrequirements_page'%}"><h2>Job Requirements</h2>  
              
</body>
</html>